[user]
	name = shenyuchao
	email = syc2673@gmail.com

[core]
	excludesfile = /Users/shenyuchao/.gitignore_global
	autocrlf = false
	ignorecase = false
	safecrlf = warn
	editor = vi
	quotepath = false
	pager = delta

[interactive]
	diffFilter = delta --color-only

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[pull]
	rebase = false
	default = current

[push]
	default = current

[delta]
	navigate = true
  light = fasle
	line-numbers = true
	side-by-side = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "ssh://git@gitlab.eoffcn.com/"]
	insteadOf = https://gitlab.eoffcn.com/
[commit]
	template = /Users/shenyuchao/.stCommitMsg
