[user]
	name = chao
	email = syc2673@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	ignorecase = false
	safecrlf = warn
	editor = vi
	quotepath = false
	pager = delta

[interactive]
	diffFilter = delta --color-only

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[pull]
	rebase = false

[push]
	default = current

[delta]
	navigate = true
  light = fasle
	line-numbers = true
	side-by-side = false
